:root {
  --font-family: "Poppins", sans-serif;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
    height: 100%;
  }

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, h5, p,
figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */


/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, h5
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4, h5 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
a{
  text-decoration: none;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* .wrapper{
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(90ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 15rem);
    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
}

.wrapper > * {
    grid-column: content;
  }
  .popout {
    grid-column: popout;
  }
  .feature {
    grid-column: feature;
  }
  .full {
    grid-column: full;
  }
  */

  .main__page{
    width: 100%;
    min-height: 100dvh;
    background: #fafbff;
  }

  .wrapper {
    --space: 71px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
    
  }
  .main__container {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    padding-block-start: 41px;
    padding-block-end: 50px;
  }
  .aside__container {
    --width: 306px;
    flex-basis: var(--width);
    padding-inline: 28px;
    padding-block-start: 36px;
    flex-grow: 1;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
    background: #fff;
  }

  .aside__logo{
    margin-block-end: 64px;
  }

  .nav__list{
    --space:40px;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    gap: var(--space);
  }

  .item__link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #9197b3;
  }

.list__item{
  --space:14px;
  display: flex;
  align-items: center;
  gap: var(--space);
}

  .list__item::before{
    --size:24px;
    content: "";
    display: block;
    width: var(--size);
    height: var(--size);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .list__item::after{
    --size:16px;
    content: "";
    display: block;
    width: var(--size);
    height: var(--size);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("public/asideNav/chevron-right.svg");
    margin-inline-start: auto;
  }

  .list__item:nth-child(1)::after{
    display: none;
  }

  .list__item:nth-child(1)::before{
    background-image: url("public/asideNav/Dashboard.svg");
  }
  .list__item:nth-child(2)::before{
    background-image: url("public/asideNav/product.svg");
  }
  .list__item:nth-child(3)::before{
    background-image: url("public/asideNav/customers.svg");
  }
  .list__item:nth-child(4)::before{
    background-image: url("public/asideNav/income.svg");
  }
  .list__item:nth-child(5)::before{
    background-image: url("public/asideNav/promote.svg");
  }
  .list__item:nth-child(6)::before{
    background-image: url("public/asideNav/help.svg");
  }

  .main__title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-block-end: 51px;
  }

  .table__container{
    max-width: 986px;
    border-radius: 30px;
    padding-inline-start: 38px;
    padding-inline-end: 44px;
    margin-inline-end: 20px;
    padding-block-start: 30px;
    padding-block-end: 41px;
    background-color: #fff;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  }

  .table__header{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-block-end: 40px;
  }

  .table__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: #000;
  }

  .table__subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #16c098;
  }

  .table{
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    margin-block-end: 30px;
}

caption,th,td{
    padding-block: 20px;
  }

  th{
    text-align: left;
  }




  .table__header-cell{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
    border-bottom: 1px solid #eee;
  }

  .table__body-cell{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #292d32;
    border-bottom: 1px solid #eee;
  }

  @media(max-width: 1100px){
    .table__container{
      padding-inline: 20px;
    }
    th{
        display: none;
    }
    td{
      --space: 10px;
        display: grid;
        grid-template-columns: 15ch auto;
        gap: var(--space);
        padding: 0.5rem 1rem;
    }

    td:first-child{
        padding: 1rem;
    }

    td:last-child{
        padding: 1rem;
    }

    td::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
  }

  @media(max-width: 650px){
    .table__container{
      margin-inline-start: 20px;
      padding-inline: 5px;
    }
  }


  .footer__subtext{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
      }