:root {
  --font-family: "Poppins", sans-serif;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
    height: 100%;
  }

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, h5, p,
figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */


/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4, h5
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4, h5 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
a{
  text-decoration: none;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.visualy__hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}



  .main__page{
    width: 100%;
    min-height: 100dvh;
    background: #fafbff;
  }

  .wrapper {
    --space: 71px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space);
    
  }
  .main__container {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    padding-block-start: 41px;
    padding-block-end: 50px;
  }
  .aside__container {
    --width: 306px;
    flex-basis: var(--width);
    padding-inline: 28px;
    padding-block-start: 36px;
    flex-grow: 1;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-block-end: 76px;
  }

  .aside__logo{
    margin-block-end: 64px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .logo__text{
    margin-top: 11px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    letter-spacing: -0.01em;
    color: #838383;
  }
  .nav__list{
    --space:20px;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    gap: var(--space);
  }



  .user__info{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-block-start: auto;
  }

  .user__name{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #000;
  }

  .user__position{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
  }

  .nav__list{
    margin-block-end: 20px;
  }

  .item__link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #9197b3;
  }

.list__item{
  --space:14px;
  display: flex;
  padding-block: 13px;
  padding-inline: 11px;
  border-radius: 8px;
  align-items: center;
  gap: var(--space);
}

.item__image-rigth{
  margin-inline-start: auto;
}

  .list__item:nth-child(3){
    background: #5932ea;
  }

  .list__item:nth-child(3) .item__link{
    color: #fff;
  }
  .main__title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #000;
    margin-block-end: 51px;
  }

  .table__container{
    max-width: 986px;
    border-radius: 30px;
    padding-inline-start: 38px;
    padding-inline-end: 44px;
    margin-inline-end: 20px;
    padding-block-start: 30px;
    padding-block-end: 41px;
    background-color: #fff;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  }

  .table__header{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-block-end: 40px;
  }

  .table__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: #000;
  }

  .table__subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #16c098;
  }

  .table{
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    margin-block-end: 30px;
}

  th,td{
    padding-block: 20px;
  }

  .table__header-cell{
    text-align: left;
  }

  .table__header-cell{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
    border-bottom: 1px solid #eee;
  }

  .table__body-cell{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #292d32;
    border-bottom: 1px solid #eee;
  }

  @media(max-width: 1100px){
    .table__container{
      padding-inline: 20px;
    }
    .table__header-cell{
        display: none;
    }
    .table__body-cell{
      --space: 10px;
        display: grid;
        grid-template-columns: 15ch auto;
        gap: var(--space);
        padding: 0.5rem 1rem;
    }

    .table__body-cell:first-child{
        padding: 1rem;
    }

    .table__body-cell:last-child{
        padding: 1rem;
    }

    .table__body-cell::before{
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
  }

  @media(max-width: 750px){
    .table__container{
      margin-inline-start: 20px;
      padding-inline: 5px;
    }
    .main__title{
      margin-inline-start: 20px;
    }
  }


  .footer__subtext{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  .search__input{
    border: none;
    background: #f9fbff;
  }

  .search__input::placeholder{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  .form{
    border-radius: 10px;
    max-width: 216px;
    display: flex;
    align-items: start;
    background: #f9fbff;
    padding-block: 10px;
    position: relative;
    padding-inline:8px;
    /* padding-inline-start: 40px; */
  }

  .form::before{
    --size: 24px;
    content: "";
    width: var(--size);
    height: var(--size);
    display: block;
    background-image: url("public/form/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .flex__box{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
  }

  .buttons__group{
    display: flex;
    gap: 12px;
    padding-inline-start: 0px;
  }

  .item__button{
    --size:25px;
    width: var(--size);
    height: var(--size);
    border: 1px solid #eee;
    border-radius: 4px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .group__item:nth-child(2) .item__button{
    background: #5932ea;
    color: #ffff;
  }

  .main__footer{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }